# SEMANA 5-03
Alonso Gavino Ponce Susanibar

1. Números
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

Manejo de Cadenas

In [1]:
cadena = "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [2]:
#Universidad Nacional Tecnológica de Lima Sur
#01234...                           ... -3-2-1

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
cadena[11]

' '

In [6]:
cadena[-5]

'a'

In [7]:
cadena[21]

'T'

In [8]:
cadena[-23]

'T'

In [10]:
#Para mostrar una subcadena [desde,hasta una antes]
cadena[3:8]

'versi'

In [11]:
#Para saber el tamaño de una cadena utilizamos len()
#Incluye espacios en blanco
len(cadena)

44

In [12]:
#Para mostrar una cadena en mayúscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [13]:
#OJO: Solo lo muestra porque el original sigue siendo igual
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [14]:
#Si deseara cambiarlo haría:
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [15]:
#Para mostrar en minúscula utlizamos lower()
cadena.lower()

'universidad nacional tecnológica de lima sur'

In [18]:
#Para generar una lista a partir de una cadena usamos split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLÓGICA', 'DE', 'LIMA', 'SUR']

In [19]:
#Generar lista con criterio, ejemplo con la letra A
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLÓGIC', ' DE LIM', ' SUR']

In [21]:
#Forma clásica, concatenar con +
nombre = "Alonso Ponce"
print("Buenos días " + nombre)

Buenos días Alonso Ponce

In [22]:
#Utilizando el .format()
nombre = "Alonso Ponce"
edad = 24
print("Hola {}, ya se que tienes {} años".format(nombre,edad))

Hola Alonso Ponce, ya se que tienes 24 años

In [23]:
resultado=10/3
print("10/3 es = {}".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [25]:
nombre = "Alonso Ponce"
edad = 24
print(f"Buenos días {nombre}, ya sé que tienes {edad} años")

Buenos días Alonso Ponce, ya sé que tienes 24 años

In [26]:
resultado =10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333